In [33]:
#Librerías
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt

Cargar datos

In [34]:
# Definir la ruta de la carpeta donde están los archivos CSV y Excel
carpeta_csv = 'C:/Users/Administrator/Desktop/Proyecto_Track Data Analyst_Analisis y visualización de datos/Grupo2_DataAnalyst/raw_data'

# Crear una lista para almacenar los DataFrames
dataframes = []

# Recorrer todos los archivos en la carpeta
for archivo in os.listdir(carpeta_csv):
    # Construir la ruta completa del archivo
    ruta_completa = os.path.join(carpeta_csv, archivo)
    
    # Verificar si el archivo es un CSV
    if archivo.endswith(".csv"):
        df = pd.read_csv(ruta_completa)
        dataframes.append(df)
    
    # Verificar si el archivo es un Excel (.xlsx)
    elif archivo.endswith(".xlsx"):
        df = pd.read_excel(ruta_completa)
        dataframes.append(df)

# Verificar cuántos DataFrames fueron cargados
print(f"Se cargaron {len(dataframes)} archivos (CSV y Excel).")

Se cargaron 6 archivos (CSV y Excel).

# EDA

### Acceder a los Dataframes

In [35]:
# Acceder a los DataFrames por índice
df_london = dataframes[0]   
df_madrid = dataframes[1]  
df_milan = dataframes[2]
df_NY = dataframes[3]
df_sydney = dataframes[4]
df_tokyo = dataframes[5]

### Estudio de features

En la siguiente celda vamos a analizar el número de features y el nombre de las mismas que tenemos en cada dataframe, para ver si hay alguna que falta dependiendo de la ciudad y ver como tratarlas

In [36]:
# Contar el número de columnas
num_columnas = df_london.shape[1]
print(f"Número de columnas df_london: {num_columnas}")

# Obtener los nombres de las columnas
nombres_columnas = df_london.columns
print(f"Nombres de las columnas df_london: {nombres_columnas}")

# Contar el número de columnas
num_columnas = df_madrid.shape[1]
print(f"Número de columnas df_madrid: {num_columnas}")

# Obtener los nombres de las columnas
nombres_columnas = df_madrid.columns
print(f"Nombres de las columnas df_madrid: {nombres_columnas}")

# Contar el número de columnas
num_columnas = df_milan.shape[1]
print(f"Número de columnas df_milan: {num_columnas}")

# Obtener los nombres de las columnas
nombres_columnas = df_milan.columns
print(f"Nombres de las columnas df_milan: {nombres_columnas}")

# Contar el número de columnas
num_columnas =df_NY.shape[1]
print(f"Número de columnas df_NY: {num_columnas}")

# Obtener los nombres de las columnas
nombres_columnas =df_NY.columns
print(f"Nombres de las columnas df_NY: {nombres_columnas}")

# Contar el número de columnas
num_columnas =df_sydney.shape[1]
print(f"Número de columnas df_sydney: {num_columnas}")

# Obtener los nombres de las columnas
nombres_columnas =df_sydney.columns
print(f"Nombres de las columnas df_sydney: {nombres_columnas}")

# Contar el número de columnas
num_columnas =df_tokyo.shape[1]
print(f"Número de columnas df_tokyo: {num_columnas}")

# Obtener los nombres de las columnas
nombres_columnas =df_tokyo.columns
print(f"Nombres de las columnas df_tokyo: {nombres_columnas}")

Número de columnas df_london: 16
Nombres de las columnas df_london: Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')
Número de columnas df_madrid: 16
Nombres de las columnas df_madrid: Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')
Número de columnas df_milan: 15
Nombres de las columnas df_milan: Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood', 'latitude',
       'longitude', 'room_type', 'price', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365'],
      dtype='object')
Número de columnas df_NY: 16
Nombres de las columnas df_NY: Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')
Número de columnas df_sydney: 16
Nombres de las columnas df_sydney: Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')
Número de columnas df_tokyo: 14
Nombres de las columnas df_tokyo: Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month'],
      dtype='object')

Añadimos una feature 'city' para saber reconocer a que ciudad corresponden los datos en el df_final.

In [37]:
# Añadir la columna 'city' a cada DataFrame
df_london1['city'] = 'London'
df_london2['city'] = 'London'
df_madrid['city'] = 'Madrid'
df_milan1['city'] = 'Milan'
df_milan2['city'] = 'Milan'
df_NY['city'] = 'New York'
df_sydney['city'] = 'Sidney'
df_tokyo['city'] = 'Tokyo'

Buscamos las features comunes entre los df y las no comunes.

In [38]:
# Listado de todos tus DataFrames
dataframes = [df_london1,df_london2,df_madrid, df_milan1,df_milan2, df_sydney, df_tokyo, df_NY]  # Añade todos tus DataFrames aquí

# Obtener las columnas comunes en todos los DataFrames
columnas_comunes = set(dataframes[0].columns)  # Comenzamos con las columnas del primer DataFrame

for df in dataframes[1:]:
    columnas_comunes.intersection_update(df.columns)  # Hacer intersección con las columnas de los siguientes DataFrames

print(f"Columnas comunes en todos los DataFrames: {columnas_comunes}")

Columnas comunes en todos los DataFrames: {'last_review', 'number_of_reviews', 'host_name', 'name', 'latitude', 'reviews_per_month', 'price', 'host_id', 'city', 'minimum_nights', 'room_type', 'longitude', 'id', 'neighbourhood_group', 'neighbourhood'}

In [39]:
# Crear un conjunto con todas las columnas
todas_las_columnas = set(dataframes[0].columns)
for df in dataframes[1:]:
    todas_las_columnas.update(df.columns)  # Añadir columnas de cada DataFrame

# Columnas no comunes
columnas_no_comunes = todas_las_columnas - columnas_comunes
print(f"Columnas no comunes en todos los DataFrames: {columnas_no_comunes}")

Columnas no comunes en todos los DataFrames: {'availability_365', 'calculated_host_listings_count'}

Obtenemos el conjunto de todas las features presentes en cualquier Dataframe y le agregamos a las features faltantes de cada dataframe el valor 'sin datos', para poder diferenciarlo en un futuro cuando estemos trabajando con un único df_final que albergue todos los datos.

In [40]:
# Obtener el conjunto completo de todas las columnas presentes en cualquier DataFrame
todas_las_columnas = set()
for df in dataframes:
    todas_las_columnas.update(df.columns)

# Agregar las columnas faltantes en cada DataFrame con valor 'sin datos'
for i, df in enumerate(dataframes):
    columnas_faltantes = todas_las_columnas - set(df.columns)  # Columnas que faltan en este DataFrame
    for columna in columnas_faltantes:
        df[columna] = 'sin datos'  # Rellenar con 'sin datos'

Cambiamos la feature 'price' a una moneda en común €

In [41]:
# Diccionario de tasas de cambio a EUR (actualiza estos valores con tasas reales)
exchange_rates = {
    'USD': 0.91398,  # New York
    'GBP': 1.20242,  # London
    'JPY': 0.00682,  # Tokyo
    'AUD': 0.61234,  # Sydney
    'EUR': 1.0       # Madrid, Milan (ya están en euros)
}

# Función para convertir precios a EUR
def convert_to_eur(price, currency):
    return price * exchange_rates[currency]

# Lista de DataFrames y sus monedas correspondientes
city_data = [
    (df_milan, 'EUR'),
    (df_tokyo, 'JPY'),
    (df_sydney, 'AUD'),
    (df_madrid, 'EUR'),
    (df_london, 'GBP'),
    (df_NY, 'USD')
]

# Convertir precios a EUR para cada DataFrame
for df, currency in city_data:
    df['price(€)'] = df['price'].apply(lambda x: convert_to_eur(x, currency))
    
    # Redondear a 2 decimales
    df['price(€)'] = df['price(€)'].round(2)

  
    # Opcional: eliminar la columna original 'price'
    # df.drop('price', axis=1, inplace=True)

# Ejemplo de cómo verificar la conversión
for df, currency in city_data:
    print(f"Primeros 5 precios convertidos para {currency}:")
    print(df[['price', 'price(€)']].head())
    print("\n")

Primeros 5 precios convertidos para EUR:
   price  price(€)
0    100     100.0
1    150     150.0
2    180     180.0
3     75      75.0
4     71      71.0


Primeros 5 precios convertidos para JPY:
   price  price(€)
0   4196     28.62
1  10975     74.85
2   4196     28.62
3   6994     47.70
4   3981     27.15


Primeros 5 precios convertidos para AUD:
   price  price(€)
0    100     61.23
1    471    288.41
2    109     66.75
3    450    275.55
4     62     37.97


Primeros 5 precios convertidos para EUR:
   price  price(€)
0     60      60.0
1     31      31.0
2     50      50.0
3     92      92.0
4     26      26.0


Primeros 5 precios convertidos para GBP:
   price  price(€)
0     88    105.81
1     65     78.16
2    105    126.25
3    100    120.24
4     77     92.59


Primeros 5 precios convertidos para USD:
   price  price(€)
0    149    136.18
1    225    205.65
2    150    137.10
3     89     81.34
4     80     73.12

### Unir en un único df_final

Unimos todos los df, en un df_final para que sea más facil el estudio de los datos.

In [42]:
# Unir todos los DataFrames en uno solo
df_final = pd.concat([df for df, currency in city_data], ignore_index=True)

# Verificar el DataFrame final
print(df_final)

              id                                               name   host_id  \
0           6400                                   The Studio Milan     13822
1          23986                    " Characteristic Milanese flat"     95941
2          28300                            nice flat near the park    121663
3          32119                 Nico & Cynthia's Easy Yellow Suite    138683
4          32649                      Nico&Cinzia's Red Easy Suite!    138683
...          ...                                                ...       ...
220026  36484665    Charming one bedroom - newly renovated rowhouse   8232441
220027  36485057      Affordable room in Bushwick/East Williamsburg   6570630
220028  36485431            Sunny Studio at Historical Neighborhood  23492952
220029  36485609               43rd St. Time Square-cozy single bed  30985759
220030  36487245  Trendy duplex in the very heart of Hell's Kitchen  68119814

            host_name       neighbourhood  latitude  longitude  \
0           Francesca             TIBALDI  45.44119    9.17813
1              Jeremy             NAVIGLI  45.44806    9.17373
2               Marta               SARPI  45.47647    9.17359
3         Nico&Cinzia         VIALE MONZA  45.52014    9.22300
4         Nico&Cinzia         VIALE MONZA  45.51874    9.22495
...               ...                 ...       ...        ...
220026        Sabrina  Bedford-Stuyvesant  40.67853  -73.94995
220027        Marisol            Bushwick  40.70184  -73.93317
220028  Ilgar & Aysel              Harlem  40.81475  -73.94867
220029            Taz      Hell's Kitchen  40.75751  -73.99112
220030     Christophe      Hell's Kitchen  40.76404  -73.98933

              room_type  price  minimum_nights  number_of_reviews last_review  \
0          Private room    100               4                 12    19/04/10
1       Entire home/apt    150               1                 15    07/09/20
2          Private room    180               1                  8    22/04/12
3       Entire home/apt     75               2                 15    01/07/18
4       Entire home/apt     71               2                 29    23/10/16
...                 ...    ...             ...                ...         ...
220026     Private room     70               2                  0         NaN
220027     Private room     40               4                  0         NaN
220028  Entire home/apt    115              10                  0         NaN
220029      Shared room     55               1                  0         NaN
220030     Private room     90               7                  0         NaN

        reviews_per_month calculated_host_listings_count availability_365  \
0                    0.14                              1              358
1                    0.21                              1              363
2                    0.11                              1              365
3                    0.23                              3              200
4                    0.71                              3              308
...                   ...                            ...              ...
220026                NaN                              2                9
220027                NaN                              2               36
220028                NaN                              1               27
220029                NaN                              6                2
220030                NaN                              1               23

        price(€) neighbourhood_group      city
0         100.00                 NaN       NaN
1         150.00                 NaN       NaN
2         180.00                 NaN       NaN
3          75.00                 NaN       NaN
4          71.00                 NaN       NaN
...          ...                 ...       ...
220026     63.98            Brooklyn  New York
220027     36.56            Brooklyn  New York
220028    105.11           Manhattan  New York
220029     50.27           Manhattan  New York
220030     82.26           Manhattan  New York

[220031 rows x 18 columns]

Transformamos la feature 'last_review' a formato datatime.

In [43]:
# Convertir la columna 'last_review' a formato datetime
df_final['last_review'] = pd.to_datetime(df_final['last_review'], errors='coerce')

# Verificar si la conversión fue exitosa
#print(df_final['last_review'].head())

# Verificar el DataFrame final
print(df_final)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_12684\4135667853.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_final['last_review'] = pd.to_datetime(df_final['last_review'], errors='coerce')

              id                                               name   host_id  \
0           6400                                   The Studio Milan     13822
1          23986                    " Characteristic Milanese flat"     95941
2          28300                            nice flat near the park    121663
3          32119                 Nico & Cynthia's Easy Yellow Suite    138683
4          32649                      Nico&Cinzia's Red Easy Suite!    138683
...          ...                                                ...       ...
220026  36484665    Charming one bedroom - newly renovated rowhouse   8232441
220027  36485057      Affordable room in Bushwick/East Williamsburg   6570630
220028  36485431            Sunny Studio at Historical Neighborhood  23492952
220029  36485609               43rd St. Time Square-cozy single bed  30985759
220030  36487245  Trendy duplex in the very heart of Hell's Kitchen  68119814

            host_name       neighbourhood  latitude  longitude  \
0           Francesca             TIBALDI  45.44119    9.17813
1              Jeremy             NAVIGLI  45.44806    9.17373
2               Marta               SARPI  45.47647    9.17359
3         Nico&Cinzia         VIALE MONZA  45.52014    9.22300
4         Nico&Cinzia         VIALE MONZA  45.51874    9.22495
...               ...                 ...       ...        ...
220026        Sabrina  Bedford-Stuyvesant  40.67853  -73.94995
220027        Marisol            Bushwick  40.70184  -73.93317
220028  Ilgar & Aysel              Harlem  40.81475  -73.94867
220029            Taz      Hell's Kitchen  40.75751  -73.99112
220030     Christophe      Hell's Kitchen  40.76404  -73.98933

              room_type  price  minimum_nights  number_of_reviews last_review  \
0          Private room    100               4                 12  2010-04-19
1       Entire home/apt    150               1                 15  2020-07-09
2          Private room    180               1                  8  2012-04-22
3       Entire home/apt     75               2                 15  2018-01-07
4       Entire home/apt     71               2                 29  2016-10-23
...                 ...    ...             ...                ...         ...
220026     Private room     70               2                  0         NaT
220027     Private room     40               4                  0         NaT
220028  Entire home/apt    115              10                  0         NaT
220029      Shared room     55               1                  0         NaT
220030     Private room     90               7                  0         NaT

        reviews_per_month calculated_host_listings_count availability_365  \
0                    0.14                              1              358
1                    0.21                              1              363
2                    0.11                              1              365
3                    0.23                              3              200
4                    0.71                              3              308
...                   ...                            ...              ...
220026                NaN                              2                9
220027                NaN                              2               36
220028                NaN                              1               27
220029                NaN                              6                2
220030                NaN                              1               23

        price(€) neighbourhood_group      city
0         100.00                 NaN       NaN
1         150.00                 NaN       NaN
2         180.00                 NaN       NaN
3          75.00                 NaN       NaN
4          71.00                 NaN       NaN
...          ...                 ...       ...
220026     63.98            Brooklyn  New York
220027     36.56            Brooklyn  New York
220028    105.11           Manhattan  New York
220029     50.27           Manhattan  New York
220030     82.26           Manhattan  New York

[220031 rows x 18 columns]

Generar un informe EDA

In [44]:
from ydata_profiling import ProfileReport # librería de EDA automatizada que genera informes detallados

# Generar informe de perfilado
profile = ProfileReport(df_final, title="Informe EDA")
profile.to_file("eda_report.html")

Summarize dataset: 100%|██████████| 109/109 [00:24<00:00,  4.39it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:07<00:00,  7.76s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.98s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 38.47it/s]

### Estudio de valores Nulos en df_final

In [45]:
# Contar valores nulos en cada columna
print(df_final.isnull().sum())

id                                     0
name                                  67
host_id                                0
host_name                            706
neighbourhood                          0
latitude                               0
longitude                              0
room_type                              0
price                                  0
minimum_nights                         0
number_of_reviews                      0
last_review                        54371
reviews_per_month                  54371
calculated_host_listings_count         0
availability_365                       0
price(€)                               0
neighbourhood_group               151518
city                              103390
dtype: int64

In [46]:
# Calcular el porcentaje de valores nulos por columna
print(df_final.isnull().mean() * 100)

id                                 0.000000
name                               0.030450
host_id                            0.000000
host_name                          0.320864
neighbourhood                      0.000000
latitude                           0.000000
longitude                          0.000000
room_type                          0.000000
price                              0.000000
minimum_nights                     0.000000
number_of_reviews                  0.000000
last_review                       24.710609
reviews_per_month                 24.710609
calculated_host_listings_count     0.000000
availability_365                   0.000000
price(€)                           0.000000
neighbourhood_group               68.862115
city                              46.988833
dtype: float64

In [47]:
# Visualizar valores nulos
plt.figure(figsize=(10,6))
sns.heatmap(df_final.isnull(), cbar=False, cmap='viridis')
plt.show()

C:\Users\Administrator\AppData\Local\Temp\ipykernel_12684\4252854519.py:4: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()

In [48]:
# Filtrar filas con al menos un valor nulo
df_nulos = df[df.isnull().any(axis=1)]
print(df_nulos)

             id                                               name   host_id  \
2          3647                THE VILLAGE OF HARLEM....NEW YORK !      4632
19         7750                  Huge 2 BR Upper East  Cental Park     17985
26         8700  Magnifique Suite au N de Manhattan - vue Cloitres     26394
36        11452                        Clean and Quiet in Brooklyn      7355
38        11943                          Country space in the city     45445
...         ...                                                ...       ...
48890  36484665    Charming one bedroom - newly renovated rowhouse   8232441
48891  36485057      Affordable room in Bushwick/East Williamsburg   6570630
48892  36485431            Sunny Studio at Historical Neighborhood  23492952
48893  36485609               43rd St. Time Square-cozy single bed  30985759
48894  36487245  Trendy duplex in the very heart of Hell's Kitchen  68119814

             host_name neighbourhood_group       neighbourhood  latitude  \
2            Elisabeth           Manhattan              Harlem  40.80902
19                Sing           Manhattan         East Harlem  40.79685
26     Claude & Sophie           Manhattan              Inwood  40.86754
36                  Vt            Brooklyn  Bedford-Stuyvesant  40.68876
38             Harriet            Brooklyn            Flatbush  40.63702
...                ...                 ...                 ...       ...
48890          Sabrina            Brooklyn  Bedford-Stuyvesant  40.67853
48891          Marisol            Brooklyn            Bushwick  40.70184
48892    Ilgar & Aysel           Manhattan              Harlem  40.81475
48893              Taz           Manhattan      Hell's Kitchen  40.75751
48894       Christophe           Manhattan      Hell's Kitchen  40.76404

       longitude        room_type  price  minimum_nights  number_of_reviews  \
2      -73.94190     Private room    150               3                  0
19     -73.94872  Entire home/apt    190               7                  0
26     -73.92639     Private room     80               4                  0
36     -73.94312     Private room     35              60                  0
38     -73.96327     Private room    150               1                  0
...          ...              ...    ...             ...                ...
48890  -73.94995     Private room     70               2                  0
48891  -73.93317     Private room     40               4                  0
48892  -73.94867  Entire home/apt    115              10                  0
48893  -73.99112      Shared room     55               1                  0
48894  -73.98933     Private room     90               7                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
2             NaN                NaN                               1
19            NaN                NaN                               2
26            NaN                NaN                               1
36            NaN                NaN                               1
38            NaN                NaN                               1
...           ...                ...                             ...
48890         NaN                NaN                               2
48891         NaN                NaN                               2
48892         NaN                NaN                               1
48893         NaN                NaN                               6
48894         NaN                NaN                               1

       availability_365      city  price(€)
2                   365  New York    137.10
19                  249  New York    173.66
26                    0  New York     73.12
36                  365  New York     31.99
38                  365  New York    137.10
...                 ...       ...       ...
48890                 9  New York     63.98
48891                36  New York     36.56
48892                27  New York    105.11
48893                 2  New York     50.27
48894                23  New York     82.26

[10074 rows x 18 columns]

In [119]:
# Eliminar columna host_name
#df = df_final.drop('host_name', axis=1)
#print(df)

              id                                               name  \
0          11551         Arty and Bright London Apartment in Zone 2
1          13913                Holiday London DB Room Let-on going
2          90700                  Sunny Notting Hill flat & terrace
3          15400                Bright Chelsea  Apartment. Chelsea!
4          92399  MODERN SELF CONTAINED ARCHITECT FLATLET, ISLIN...
...          ...                                                ...
220026  36083287  1min to station · Skytree/Tatami hotel/new design
220027  36083512    Asakusa Wired house 5pax near by UENO/AKIHABARA
220028  36084566                                             东京精品民宿
220029  36085357  #4 DIRECT ACCESS TO DISNEY IN BUS! 3MIN TO STA...
220030  36086604               103号室:立地最高!駅近･買い物便利!改装したばかりの綺麗な和室です｡

          host_id neighbourhood_group           neighbourhood  latitude  \
0           43039                 NaN                 Lambeth  51.46225
1           54730                 NaN               Islington  51.56802
2          491286                 NaN  Kensington and Chelsea  51.51074
3           60302                 NaN  Kensington and Chelsea  51.48796
4          497366                 NaN               Islington  51.55071
...           ...                 ...                     ...       ...
220026  235406925                 NaN               Sumida Ku  35.70862
220027  267481408                 NaN                Taito Ku  35.72464
220028  161702799                 NaN              Toshima Ku  35.73587
220029  208189463                 NaN              Edogawa Ku  35.66255
220030  254667806                 NaN             Shinjuku Ku  35.69889

        longitude        room_type  price  minimum_nights  number_of_reviews  \
0        -0.11732  Entire home/apt     88               3                185
1        -0.11121     Private room     65               1                 19
2        -0.19853  Entire home/apt    105               2                339
3        -0.16898  Entire home/apt    100              30                 88
4        -0.08547     Private room     77               1                207
...           ...              ...    ...             ...                ...
220026  139.81393  Entire home/apt  21951               1                  0
220027  139.78078  Entire home/apt   7747               1                  0
220028  139.73397     Private room  56275               1                  0
220029  139.87236  Entire home/apt   6456               1                  0
220030  139.70544     Private room   7962               2                  0

       last_review reviews_per_month calculated_host_listings_count  \
0       2019-09-15              1.58                              2
1       2019-10-07              0.17                              2
2       2019-07-30              3.33                              2
3       2019-09-23              0.73                              1
4       2019-10-21              2.04                              2
...            ...               ...                            ...
220026         NaN               NaN                      sin datos
220027         NaN               NaN                      sin datos
220028         NaN               NaN                      sin datos
220029         NaN               NaN                      sin datos
220030         NaN               NaN                      sin datos

       availability_365    city
0                   336  London
1                   365  London
2                   268  London
3                   158  London
4                   336  London
...                 ...     ...
220026        sin datos   Tokyo
220027        sin datos   Tokyo
220028        sin datos   Tokyo
220029        sin datos   Tokyo
220030        sin datos   Tokyo

[220031 rows x 16 columns]