In [83]:
#Librerías
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt

Cargar datos

In [84]:
# Definir la ruta de la carpeta donde están los archivos CSV y Excel
carpeta_csv = 'C:/Users/Administrator/Desktop/Proyecto_Track Data Analyst_Analisis y visualización de datos/Grupo2_DataAnalyst/raw_data'

# Crear una lista para almacenar los DataFrames
dataframes = []

# Recorrer todos los archivos en la carpeta
for archivo in os.listdir(carpeta_csv):
    # Construir la ruta completa del archivo
    ruta_completa = os.path.join(carpeta_csv, archivo)
    
    # Verificar si el archivo es un CSV
    if archivo.endswith(".csv"):
        df = pd.read_csv(ruta_completa)
        dataframes.append(df)
    
    # Verificar si el archivo es un Excel (.xlsx)
    elif archivo.endswith(".xlsx"):
        df = pd.read_excel(ruta_completa)
        dataframes.append(df)

# Verificar cuántos DataFrames fueron cargados
print(f"Se cargaron {len(dataframes)} archivos (CSV y Excel).")

Se cargaron 8 archivos (CSV y Excel).

EDA

In [85]:
# Acceder a los DataFrames por índice
df_london1 = dataframes[0]  
df_london2= dataframes[1]   
df_madrid = dataframes[2]  
df_milan1 = dataframes[3]
df_milan2 = dataframes[4]
df_NY = dataframes[5]
df_sydney = dataframes[6]
df_tokyo = dataframes[7]

In [86]:
# Comparar columnas de df_london1 y df_madrid
columnas_comunes = df_london1.columns.intersection(df_london2.columns)
print(f"Columnas en común entre df_london1 y df_london2: {columnas_comunes}")

Columnas en común entre df_london1 y df_london2: Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [87]:
# Comparar columnas de df_london1 y df_madrid
columnas_comunes = df_london1.columns.intersection(df_madrid.columns)
print(f"Columnas en común entre df_london1 y df_madrid: {columnas_comunes}")

Columnas en común entre df_london1 y df_madrid: Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [88]:
# Contar filas en London
print(f"Número de filas antes de eliminar duplicados: {df_london1.shape[0]}")
print(f"Número de filas antes de eliminar duplicados 2: {df_london2.shape[0]}")

Número de filas antes de eliminar duplicados: 85068
Número de filas antes de eliminar duplicados 2: 85068

In [89]:
# Contar filas en Milan
print(f"Número de filas antes de eliminar duplicados: {df_milan1.shape[0]}")
print(f"Número de filas antes de eliminar duplicados 2: {df_milan2.shape[0]}")

Número de filas antes de eliminar duplicados: 18322
Número de filas antes de eliminar duplicados 2: 18322

In [90]:
# Unir df_london1 y df_london2 por filas
df_london = pd.concat([df_london1, df_london2], ignore_index=True)

# Verificar las primeras filas del nuevo DataFrame unido
print(df_london.head())

      id                                               name  host_id  \
0  11551         Arty and Bright London Apartment in Zone 2    43039
1  13913                Holiday London DB Room Let-on going    54730
2  90700                  Sunny Notting Hill flat & terrace   491286
3  15400                Bright Chelsea  Apartment. Chelsea!    60302
4  92399  MODERN SELF CONTAINED ARCHITECT FLATLET, ISLIN...   497366

       host_name  neighbourhood_group           neighbourhood  latitude  \
0        Adriano                  NaN                 Lambeth  51.46225
1          Alina                  NaN               Islington  51.56802
2           Chil                  NaN  Kensington and Chelsea  51.51074
3       Philippa                  NaN  Kensington and Chelsea  51.48796
4  Andrea & Mark                  NaN               Islington  51.55071

   longitude        room_type  price  minimum_nights  number_of_reviews  \
0   -0.11732  Entire home/apt     88               3                185
1   -0.11121     Private room     65               1                 19
2   -0.19853  Entire home/apt    105               2                339
3   -0.16898  Entire home/apt    100              30                 88
4   -0.08547     Private room     77               1                207

  last_review reviews_per_month  calculated_host_listings_count  \
0  2019-09-15              1.58                               2
1  2019-10-07              0.17                               2
2  2019-07-30              3.33                               2
3  2019-09-23              0.73                               1
4  2019-10-21              2.04                               2

   availability_365
0               336
1               365
2               268
3               158
4               336

In [91]:
# Contar filas df_london
print(f"Número de filas antes de eliminar duplicados: {df_london.shape[0]}")

Número de filas antes de eliminar duplicados: 170136

In [92]:
# Contar duplicados basados en las columnas específicas
duplicados_london = df_london[df_london.duplicated(subset=['id'], keep=False)]
print(f"Número de filas duplicadas basadas en 'id': {duplicados_london.shape[0]}")

Número de filas duplicadas basadas en 'id': 170136

In [93]:
# Eliminar filas duplicadas basadas en la columna 'id'
df_london_clean = df_london.drop_duplicates(subset=['id'], keep='first')

# Verificar el número de filas después de eliminar duplicados
print(f"Número de filas después de eliminar duplicados: {df_london_clean.shape[0]}")

Número de filas después de eliminar duplicados: 85068

In [94]:
# Unir df_milan1 y df_milan2 por filas
df_milan = pd.concat([df_milan1, df_milan2], ignore_index=True)

# Verificar las primeras filas del nuevo DataFrame unido
print(df_milan.head())

      id                                name  host_id    host_name  \
0   6400                    The Studio Milan    13822    Francesca
1  23986     " Characteristic Milanese flat"    95941       Jeremy
2  28300             nice flat near the park   121663        Marta
3  32119  Nico & Cynthia's Easy Yellow Suite   138683  Nico&Cinzia
4  32649       Nico&Cinzia's Red Easy Suite!   138683  Nico&Cinzia

  neighbourhood  latitude longitude        room_type  price  minimum_nights  \
0       TIBALDI  45.44119   9.17813     Private room    100               4
1       NAVIGLI  45.44806   9.17373  Entire home/apt    150               1
2         SARPI  45.47647   9.17359     Private room    180               1
3   VIALE MONZA  45.52014     9.223  Entire home/apt     75               2
4   VIALE MONZA  45.51874   9.22495  Entire home/apt     71               2

   number_of_reviews last_review reviews_per_month  \
0                 12    19/04/10              0.14
1                 15    07/09/20              0.21
2                  8    22/04/12              0.11
3                 15    01/07/18              0.23
4                 29    23/10/16              0.71

   calculated_host_listings_count  availability_365
0                               1               358
1                               1               363
2                               1               365
3                               3               200
4                               3               308

In [95]:
# Contar filas antes de eliminar duplicados
print(f"Número de filas antes de eliminar duplicados: {df_milan1.shape[0]}")
print(f"Número de filas antes de eliminar duplicados 2: {df_milan2.shape[0]}")

Número de filas antes de eliminar duplicados: 18322
Número de filas antes de eliminar duplicados 2: 18322

In [97]:
# Contar duplicados basados en las columnas específicas
duplicados_milan = df_milan[df_milan.duplicated(subset=['id'], keep=False)]
print(f"Número de filas duplicadas basadas en 'id': {duplicados_milan.shape[0]}")

Número de filas duplicadas basadas en 'id': 36644

In [98]:
# Ver filas duplicadas basadas en ciertas columnas de df_milan
duplicadas_milan = df_milan[df_milan.duplicated(subset=['id', 'name', 'host_name'])]
print("Filas duplicadas en df_milan:")
print(duplicadas_milan)

Filas duplicadas en df_milan:
             id                                               name    host_id  \
18322      6400                                   The Studio Milan      13822
18323     23986                    " Characteristic Milanese flat"      95941
18324     28300                            nice flat near the park     121663
18325     32119                 Nico & Cynthia's Easy Yellow Suite     138683
18326     32649                      Nico&Cinzia's Red Easy Suite!     138683
...         ...                                                ...        ...
36639  50932336           Simonetta's  Apartment in Porta Vittoria   78575545
36640  50932398  Little Retreat with Balcony and Box near De An...  230140176
36641  50934102                               MODERN APT. IN REPUB  338964464
36642  50950278                               Luxury Home in Milan    9800031
36643  50955051                      Affacciato sul Parco Sempione    1993102

         host_name           neighbourhood      latitude   longitude  \
18322    Francesca                 TIBALDI  4.544119e+06      917813
18323       Jeremy                 NAVIGLI  4.544806e+06      917373
18324        Marta                   SARPI  4.547647e+06      917359
18325  Nico&Cinzia             VIALE MONZA  4.552014e+06        9223
18326  Nico&Cinzia             VIALE MONZA  4.551874e+06      922495
...            ...                     ...           ...         ...
36639     Gregorio         UMBRIA - MOLISE  4.545339e+06      922116
36640     Youhosty  DE ANGELI - MONTE ROSA  4.546923e+07     9147238
36641    Valentina                CENTRALE  4.548023e+09  9199445896
36642      Camilla                   SARPI  4.548324e+09  9179121169
36643   A. Valeria                   SARPI  4.547720e+09  9178966805

             room_type  price  minimum_nights  number_of_reviews  \
18322     Private room    100               4                 12
18323  Entire home/apt    150               1                 15
18324     Private room    180               1                  8
18325  Entire home/apt     75               2                 15
18326  Entire home/apt     71               2                 29
...                ...    ...             ...                ...
36639  Entire home/apt     61               3                  0
36640  Entire home/apt    181               2                  0
36641  Entire home/apt    422               1                  0
36642  Entire home/apt    200               4                  0
36643     Private room     60               2                  0

               last_review reviews_per_month  calculated_host_listings_count  \
18322  2010-04-19 00:00:00              0.14                               1
18323  2020-09-07 00:00:00              0.21                               1
18324  2012-04-22 00:00:00              0.11                               1
18325  2018-07-01 00:00:00              0.23                               3
18326  2016-10-23 00:00:00              0.71                               3
...                    ...               ...                             ...
36639                  NaT               NaN                               1
36640                  NaT               NaN                              60
36641                  NaT               NaN                               1
36642                  NaT               NaN                               1
36643                  NaT               NaN                               2

       availability_365
18322               358
18323               363
18324               365
18325               200
18326               308
...                 ...
36639               306
36640               359
36641               326
36642                12
36643               358

[18311 rows x 15 columns]

In [99]:
# Eliminar filas duplicadas basadas en la columna 'id'
df_milan_clean = df_milan.drop_duplicates(subset=['id'], keep='first')

# Verificar el número de filas después de eliminar duplicados
print(f"Número de filas después de eliminar duplicados: {df_milan_clean.shape[0]}")

Número de filas después de eliminar duplicados: 18322

In [100]:
# Añadir la columna 'ciudad' a cada DataFrame
df_london['city'] = 'London'
df_madrid['city'] = 'Madrid'
df_milan['city'] = 'Milan'
df_NY['city'] = 'New York'
df_sydney['city'] = 'Sidney'
df_tokyo['city'] = 'Tokyo'

In [101]:
#Unir csv y xlsx
# Unir todos los DataFrames en uno solo
df_final = pd.concat([df_london_clean, df_madrid, df_milan_clean, df_NY, df_sydney, df_tokyo], ignore_index=True)

# Verificar el DataFrame resultante
print(df_final.head())

      id                                               name  host_id  \
0  11551         Arty and Bright London Apartment in Zone 2    43039
1  13913                Holiday London DB Room Let-on going    54730
2  90700                  Sunny Notting Hill flat & terrace   491286
3  15400                Bright Chelsea  Apartment. Chelsea!    60302
4  92399  MODERN SELF CONTAINED ARCHITECT FLATLET, ISLIN...   497366

       host_name neighbourhood_group           neighbourhood  latitude  \
0        Adriano                 NaN                 Lambeth  51.46225
1          Alina                 NaN               Islington  51.56802
2           Chil                 NaN  Kensington and Chelsea  51.51074
3       Philippa                 NaN  Kensington and Chelsea  51.48796
4  Andrea & Mark                 NaN               Islington  51.55071

  longitude        room_type  price  minimum_nights  number_of_reviews  \
0  -0.11732  Entire home/apt     88               3                185
1  -0.11121     Private room     65               1                 19
2  -0.19853  Entire home/apt    105               2                339
3  -0.16898  Entire home/apt    100              30                 88
4  -0.08547     Private room     77               1                207

  last_review reviews_per_month  calculated_host_listings_count  \
0  2019-09-15              1.58                             2.0
1  2019-10-07              0.17                             2.0
2  2019-07-30              3.33                             2.0
3  2019-09-23              0.73                             1.0
4  2019-10-21              2.04                             2.0

   availability_365 city
0             336.0  NaN
1             365.0  NaN
2             268.0  NaN
3             158.0  NaN
4             336.0  NaN